{% extends "/front/layout.html.twig" %}

{% block content %}
    <section id="header-about">
        <img src="./assets/styles/img/imageAbout1.jpg" alt="image de fond" class="about-bg">
        <div class="about-body">
            <div class="about-text">
                <h1>AgriMai</h1>
                <p>Des produits de qualité, des producteurs de confiance, un achat sans effort.</p>
            </div>
        </div>
    </section>
    <section id="agMai-about">
        <div class="agMai-body">
            <div class="agMaiAbout-text">
                <p class="about-titleP">À propos d’AgriMai</p>
                <p>Notre plateforme connecte directement les petits producteurs de pommes Reinette grise du Canada,<br>
                    originaires de Normandie, d’Alsace et de la Loire, avec des acheteurs locaux<br>
                    Grâce à une interface simple, chacun peut facilement vendre ou acheter des pommes françaises,<br>
                    saines et tracées, dans un échange local, direct et transparent.<br>
                    Notre mission : valoriser les producteurs et faciliter l’accès à des produits authentiques.</p>
            </div>
            <div class="agMaiAbout-img">
                <img src="./assets/styles/img/logo-remo.png" alt="logo de l'entreprise AgriMai">
            </div>
        </div>

    </section>
    <section id="team">
        <div class="team-body">
            <div class="team1">
                <div class="team-member">
                    <img src="./assets/styles/img/konate.jpg" alt="la photo de Nadia Konaté, menbre de l'équipe Agrimai">
                    <h3>Nadia Konaté</h3>
                    <p class="team-title">Product Owner (Client)</p>
                    <p>Porte la vision des projets, <br>valide les fonctionnalités, priorise le backlog.</p>
                    <div class="team-logo">
                        <a href="https://linkedin.com/in/demo.nadia.konate"><img src="./assets/styles/img/in2.png" alt="logo de linkedln"></a>
                        <a href="https://twitter.com/demo_nadiak"><img src="./assets/styles/img/x2.png" alt="logo de x"></a>
                        <a href="https://facebook.com/demo.nadia.konate"><img src="./assets/styles/img/facebook2.png" alt="logo de facebook"></a>
                    </div>
                </div>
                <div class="team-member">
                    <img src="./assets/styles/img/huss.jpg" alt="photo de Husseina Aoudou Pacco, menbre de l'équipe AgriMai">
                    <h3>Husseina Aoudou</h3>
                    <p class="team-title">Développeur Full stack</p>
                    <p>Conçoit la plateforme côté front <br>(React, Vue,) et back (Node.js, PHP)</p>
                    <div class="team-logo">
                        <a href="https://linkedin.com/in/demo.husseina.aoudou"><img src="./assets/styles/img/in2.png" alt="logo de linkedln"></a>
                        <a href="https://twitter.com/demo_husseinaa"><img src="./assets/styles/img/x2.png" alt="logo de x"></a>
                        <a href="https://facebook.com/demo.husseina.aoudou"><img src="./assets/styles/img/facebook2.png" alt="logo de facebook"></a>
                    </div>
                </div>
                <div class="team-member">
                    <img src="./assets/styles/img/martins.jpg" alt="photo de Chloé Martins, menbre de l'équipe AgriMai">
                    <h3>Chloé Martins</h3>
                    <p class="team-title">Designer UI/UX</p>
                    <p>Conçoit les maquettes, optimise<br> l’expérience utilisateur,
                        travaille sur l’accessibilité.</p>
                    <div class="team-logo">
                        <a href ="https://linkedin.com/in/demo.chloe.martins"><img src="./assets/styles/img/in2.png" alt="logo de linkedln"></a>
                        <a href ="https://twitter.com/demo_chloem"><img src="./assets/styles/img/x2.png" alt="logo de X"></a>
                        <a href ="https://facebook.com/demo.chloe.martins"><img src="./assets/styles/img/facebook2.png" alt="logo se facebook"></a>
                    </div>
                </div>

            </div>
            <div class="team2">
                <div class="team-member2">
                    <img src="./assets/styles/img/moretti.jpg" alt="la photo de Luca Moretti, menbre de l'équipe Agrimai">
                    <h3>Luca Moretti</h3>
                    <p class="team-title2">Administrateur système</p>
                    <p>Gère le déploiement, la sécurité serveur, les sauvegardes.</p>
                    <div class="team-logo2">
                        <a href="https://linkedin.com/in/demo.luca.moretti"><img src="./assets/styles/img/in2.png" alt="logo"></a>
                        <a href="https://twitter.com/demo_lucam"><img src="./assets/styles/img/x2.png" alt="logo"></a>
                        <a href="https://facebook.com/demo.luca.moretti"><img src="./assets/styles/img/facebook2.png" alt="logo"></a>
                    </div>
                </div>
                <div class="team-member2">
                    <img src="./assets/styles/img/romain.jpg" alt="la photo de Romain Lefèvre, menbre de l'équipe Agrimai">
                    <h3>Romain Lefèvre</h3>
                    <p class="team-title2">Testeur QA</p>
                    <p>Vérifie les bugs, fait des tests fonctionnels <br>et utilisateurs</p>
                    <div class="team-logo2">
                        <a href="https://linkedin.com/in/demo.romain.lefevre"><img src="./assets/styles/img/in2.png" alt="logo"></a>
                        <a href="https://twitter.com/demo_romainl"><img src="./assets/styles/img/x2.png" alt="logo"></a>
                        <a href="https://facebook.com/demo.romain.lefevre"><img src="./assets/styles/img/facebook2.png" alt="logo"></a>
                    </div>

                </div>
                <div class="team-member2">
                    <img src="./assets/styles/img/sarah.jpg" alt="la photo de Sarah Benhamou, menbre de l'équipe Agrimai">
                    <h3>Sarah Benhamou</h3>
                    <p class="team-title2">Chef de projet</p>
                    <p>Organise les sprints, anime les <br>réunions Agile, supprime les obstacles.</p>
                    <div class="team-logo2">
                        <a href="https://linkedin.com/in/demo.sarah.benhamou"><img src="./assets/styles/img/in2.png" alt="logo"></a>
                        <a href="https://twitter.com/demo_sarahb"><img src="./assets/styles/img/x2.png" alt="logo"></a>
                        <a href="https://facebook.com/demo.sarah.benhamou"><img src="./assets/styles/img/facebook2.png" alt="logo"></a>
                    </div>

                </div>

            </div>

        </div>

    </section>
    <section id="address">
        <div class="address-body">
            <div class="address-text">
                <h3>Paris</h3>
                <p>3 rue du Bourdon, 75016 Paris</p>
                <h3>Contactez-nous</h3>
                <p>+33 7 06 75 23 30</p>
            </div>
            <div class="address-img">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.4469226512597!2d2.2675493762462815!3d48.849687501319245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67aaf25a1ac0b%3A0x1a1b91cf90d7e96b!2s3%20Av.%20Boudon%2C%2075016%20Paris!5e0!3m2!1sfr!2sfr!4v1761934257049!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

    </section>
{% endblock %}
