<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title> {% block title %} AgriMai {% endblock %}</title>
    <link rel="stylesheet" href="/assets/styles/css/style.css">
</head>
<body>
{% include "partials/header.html.twig"  %}
{% block content %}
{% endblock %}
{% include "partials/footer.html.twig"  %}
</body>
</html>


