<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title> {% block title %} AgriMai {% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/AgriMai/assets/styles/css/style.css">

</head>
<body>
{% include "/front/partials/header.html.twig" %}

<main>
    {% block content %}
    {% endblock %}
</main>

{% include "/front/partials/footer.html.twig" %}

<script src="/AgriMai/assets/javascript/main.js"></script>
</body>
</html>


