{% extends "layout.html.twig" %}
{% block content %}
<img src="/assets/styles/img/logo.png" alt="Logo AgriMai">
<h1>Connexion </h1>
<form action="/index.php?route=checkRegister" method="POST" >
    <label>E-mail
        <input type="email" name="email" placeholder="E-mail" required>
    </label>
    <label>Mot de passe
        <input type="password" name="password" placeholder="Mot de passe" required>
    </label>
    <input type="hidden" name="csrf-token" value="{{ csrfToken|e }}">
    <button type="submit">Se connecter</button>
</form>
{% endblock %}