{% extends "/front/layout.html.twig" %}

{% block content %}
    <section id="success">
        <div class="success-body">
            <p>{{ message }}</p>
            <a href="/AgriMai/index.php?route=sendMessage">Retour au formulaire</a>
        </div>
    </section>
{% endblock %}