{% extends "/front/layout.html.twig" %}

{% block content %}
    <section id="success">
        <div class="success-body">
            <p>Eh ! Nous avons bien reçu votre message, nous reviendrons vers vous très bientôt.</p>
            <a href="/AgriMai/index.php?route=home">Retour à l’accueil</a>
        </div>
    </section>
{% endblock %}