@use "../vars/colors" as *;
@use "../vars/fonts" as *;

footer {
  .footer-body {
    background-color: $color19;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 2rem;
  }

  .footer-logoAm img {
    width: 90px;
    height: 90px;
  }

  #newsletters {
    .newsletters-body {
      h6 {
        @include roboto(500, normal, 18px);
        color: $color3;
        margin: 30px 0 0 0;
      }
      p {
        color: $color3;
        @include roboto(400, normal, 16px);
      }
    }

    form {
      display: flex;
      flex-direction: row;
      label input {
        width: 450px;
        padding: 0.5rem;
        @include roboto(400, normal, 16px);
        border: 1px solid $color4;
      }

      button {
        padding: 0.5rem 0.2rem;
        border: 1px solid $color4;
        background: $color3;
        color: $color4;
        cursor: pointer;
        @include inter(600, normal, 14px);

        &:hover {
          background: $color7;
        }
        &:active {
          background: $color2;
          color: $color1;
        }
      }
    }

    .cdg2 {
      @include roboto(400, normal, 14px);
    }

    .cdgStyle2 {
      color: $color25;
      text-decoration: none;
    }
  }

  #footer-social {
    .footer-social-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 5rem;
    }

    .footer-social-icon {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h6 {
        @include roboto(500, normal, 16px);
        color: $color3;
        margin: 40px 0 10px 0;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color3;
        @include roboto(400, normal, 16px);
        &:hover {
          color: $color7;
        }
        &:active {
          color: $color2;
        }

        img {
          width: 24px;
          height: auto;
          margin-right: 0.5rem;
        }
      }
    }

    .footer-text {
      h6 {
        @include roboto(500, normal, 16px);
        color: $color3;
        margin: 40px 0 10px 0;
      }

      ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;

        li a {
          @include roboto(400, normal, 16px);
          text-decoration: none;
          color: $color3;
          &:hover {
            color: $color7;
          }
          &:active {
            color: $color2;
          }
        }
      }
    }
  }

  #footer-legal {
    padding-left: 0;
    padding-right: 0;
    .footer-legal-body {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      background-color: $color19;
      text-align: center;
      padding-top: 2rem;
      padding-bottom: 4rem;
      border-top: 1px solid $color3;

      p {
        margin: 0.3rem 0;
        @include roboto(400, normal, 16px);

        &:hover {
          color: $color7;
        }
        &:active {
          color: $color2;
        }

        a {
          color: $color3;
          text-decoration: none;
          &:hover {
            color: $color7;
          }
          &:active {
            color: $color2;
          }
        }
      }
    }
  }
}

.copyright {
  @include roboto(400, normal, 16px);
  color: $color3;
}
/* Responsive - Mobile max-width: 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {

  footer {
    padding: 0;
    .footer-body {
      display: flex;
      flex-direction: column;

    }
    .footer-logo{
      padding: 0;
    }
    .footer-logoAm img {
      width: 100px;
      height: 100px;
    }

    #newsletters {
      padding: 0;
      .newsletters-body {
        h6 {
          @include roboto(500, normal, 30px);
          margin: 30px 0 0 0;
        }
        p {
          color: $color3;
          @include roboto(400, normal, 28px);
        }
      }
      form {
        label input {
          width: 420px;
          padding: 0.5rem;
          @include roboto(400, normal, 24px);
          border: 1px solid $color4;
        }
        button {
          padding: 0.5rem 0.3rem;
          border: 1px solid $color4;
          background: $color3;
          color: $color4;
          cursor: pointer;
          @include inter(600, normal, 26px);
          width: 420px;

          &:hover {
            background: $color7;
          }
          &:active {
            background: $color2;
            color: $color1;
          }
        }
      }

      .cdg2 {
        @include roboto(400, normal, 18px);
      }

      .cdgStyle2 {
        color: $color25;
        text-decoration: none;
      }
    }

    #footer-social {
      padding: 0;
      .footer-social-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2rem;
      }

      .footer-text {
        h6 {
          @include roboto(500, normal, 28px);
          color: $color3;
          margin: 35px 0 10px 0;
        }

        ul li a {
          @include roboto(400, normal, 26px);
        }
      }

      .footer-social-icon {
        h6 {
          @include roboto(500, normal, 26px);
          margin: 35px 0 10px 0;
        }

        a {
          @include roboto(400, normal, 26px);
          img {
            width: 50px;
          }
        }
      }
    }

    #footer-legal {
      .footer-legal-body {
        flex-direction: row;
        justify-content: space-evenly;
        background-color: $color19;
        text-align: center;
        padding-top: 2rem;
        padding-bottom: 3rem;
        border-top: 1px solid $color3;

        p {
          margin: 0.3rem 0;
          @include roboto(400, normal, 26px);

          &:hover {
            color: $color7;
          }
          &:active {
            color: $color2;
          }

          a {
            color: $color3;
            text-decoration: none;
            &:hover {
              color: $color7;
            }
            &:active {
              color: $color2;
            }
          }
        }
      }
    }
  }

  .copyright {
    @include roboto(400, normal, 18px);
    color: $color3;
    text-align: center;
  }
}



/* Responsive - Mobile max-width: 768px */
@media screen and (max-width: 768px) {

  footer {
    .footer-body {
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem;
    }

    .footer-logoAm img {
      width: 100px;
      height: 100px;
    }
    .footer-logo{
      padding: 0;
    }

    #newsletters {
      padding: 0;
      .newsletters-body {
        h6 {
          @include roboto(500, normal, 28px);
          margin: 20px 0 0 0;
        }
        p {
          color: $color3;
          @include roboto(400, normal, 24px);
        }
      }

      form {
        label input {
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 300px;
          padding: 0.4rem;
          @include roboto(400, normal, 22px);
          height: 50px;
        }

        button {
          width: 100%;
          max-width: 300px;
          padding: 0.5rem;
          @include inter(600, normal, 22px);
        }
      }

      .cdg2 {
        @include roboto(400, normal, 12px);
      }
    }

    #footer-social {
      padding: 0;
      .footer-social-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;        // permet aux icônes de passer à la ligne si besoin
        gap: 1rem;

      }

      .footer-social-icon {
        h6 {
          @include roboto(500, normal, 24px);
          margin: 20px 0 5px 0;
        }

        a {
          @include roboto(400, normal, 24px);

          img {
            width: 50px;
          }
        }
      }

      .footer-text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: unset;
        h6 {
          @include roboto(500, normal, 22px);
          margin: 20px 0 5px 0;
        }

        ul li a {
          @include roboto(400, normal, 22px);
        }
      }
    }

    #footer-legal {
      .footer-legal-body {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 0 1rem 0.5rem;
        gap: 0.5rem;

        p{
          @include roboto(400, normal, 22px)
        }

      }
    }
  }

  .copyright {
    @include roboto(400, normal, 22px);
    text-align: start;
    margin: 0;
    padding: 0;
  }
}
