@use "../vars/colors" as *;
@use "../vars/fonts" as *;

footer {
  .footer-body {
    background-color: $color19;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 0.5rem;
    padding: 2rem;
  }

  .footer-logoAm img {
    width: 50px;
    height: 50px;
  }

  #newsletters {
    .newsletters-body {
      h6 {
        @include roboto(500, normal, 16px);
        color: $color3;
        margin: 30px 0 0 0;
      }
      p {
        color: $color3;
        @include roboto(400, normal, 14px);
      }
    }

    form {
      label input {
        width: 450px;
        padding: 0.5rem;
        @include roboto(400, normal, 14px);
        border: 1px solid $color4;
      }

      button {
        padding: 0.5rem 0.2rem;
        border: 1px solid $color4;
        background: $color3;
        color: $color4;
        cursor: pointer;
        @include inter(600, normal, 14px);

        &:hover {
          background: $color7;
        }
        &:active {
          background: $color2;
          color: $color1;
        }
      }
    }

    .cdg2 {
      @include roboto(400, normal, 14px);
    }

    .cdgStyle2 {
      color: $color25;
    }
  }

  #footer-social {
    .footer-social-body {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 5rem;
    }

    .footer-social-icon {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      h6 {
        @include roboto(500, normal, 16px);
        color: $color3;
        margin: 40px 0 10px 0;
      }

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: $color3;
        @include roboto(400, normal, 16px);
        &:hover {
          color: $color7;
        }
        &:active {
          color: $color2;
        }

        img {
          width: 24px;
          height: auto;
          margin-right: 0.5rem;
        }
      }
    }

    .footer-text {
      h6 {
        @include roboto(500, normal, 16px);
        color: $color3;
        margin: 40px 0 10px 0;
      }

      ul {
        list-style-type: none;
        padding-left: 0;
        margin: 0;

        li a {
          @include roboto(400, normal, 14px);
          text-decoration: none;
          color: $color3;
          &:hover {
            color: $color7;
          }
          &:active {
            color: $color2;
          }
        }
      }
    }
  }

  #footer-legal {
    .footer-legal-body {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      background-color: $color19;
      text-align: center;
      padding-top: 2rem;
      border-top: 1px solid $color3;
      padding-bottom: 4rem;

      p {
        margin: 0.3rem 0;
        @include roboto(400, normal, 14px);
        &:hover {
          color: $color7;
        }
        &:active {
          color: $color2;
        }


        a {
          color: $color3;
          text-decoration: none;
          &:hover {
            color: $color7;
          }
          &:active {
            color: $color2;
          }
        }
      }
    }
  }
}
 .copyright{
      @include roboto(400, normal, 14px);
      color: $color3;
 }


/* Responsive - Mobile max-width: 768px */
@media screen and (max-width: 768px) {

  footer {
    .footer-body {
      flex-direction: column;
      gap: 1rem;
      padding: 1.5rem;
    }

    .footer-logoAm img {
      width: 40px;
      height: 40px;
    }

    #newsletters {
      .newsletters-body {
        h6 {
          @include roboto(500, normal, 14px);
          margin: 20px 0 0 0;
        }
        p {
          color: $color3;
          @include roboto(400, normal, 13px);
        }
      }

      form {
        label input {
          display: flex;
          flex-direction: column;
          width: 100%;
          max-width: 280px;
          padding: 0.4rem;
          @include roboto(400, normal, 13px);
        }

        button {
          width: 100%;
          max-width: 100px;
          padding: 0.5rem;
          @include inter(600, normal, 13px);
        }
      }

      .cdg2 {
        @include roboto(400, normal, 12px);
      }
    }

    #footer-social {
      .footer-social-body {

        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;        // permet aux icônes de passer à la ligne si besoin
        gap: 1rem;

      }

      .footer-social-icon {
        h6 {
          @include roboto(500, normal, 14px);
          margin: 20px 0 5px 0;
        }

        a {
          @include roboto(400, normal, 14px);

          img {
            width: 20px;
          }
        }
      }

      .footer-text {
        min-width: 120px;       // assure qu’ils ne deviennent pas trop petits avec une taille minimale
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: unset;
        h6 {
          @include roboto(500, normal, 14px);
          margin: 20px 0 5px 0;
        }

        ul li a {
          @include roboto(400, normal, 13px);
        }
      }
    }

    #footer-legal {
      .footer-legal-body {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 0.8rem;
        padding-top: 1.5rem;
        padding-bottom: 2rem;

        p {
          @include roboto(400, normal, 12px);
        }
      }
    }
  }

  .copyright {
    @include roboto(400, normal, 14px);
    text-align: center;
  }
}
