@use "../vars/colors" as *;
@use "../vars/fonts" as *;

header {
  background-color: $color18;
  padding: 1rem 0 2rem;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;

    img {
      width: 70px;
      height: auto;
    }

    ul {
      list-style: none;
      display: flex;
      margin: 0 0 0 80px;
    }
    .top-right {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      margin:0;
    }
    li {
      margin: 0 1rem;

    }

    a {
      @include inter(700, normal, 18px);
      color: $color3;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      white-space: nowrap;

      &:hover {
        color: $color7;

      }
      &:active {
        color: $color2;
      }

      img {
        width: 18px;
        height: auto;
      }

    }
    .aBorder1{
      border: inset;
    }
    .aBorder2{
      background-color: $color1;
      color: $color4;
      border: 2px solid $color1;
    }
  }
}


/* Responsive Tablette 769px à 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header {
    padding: 1rem;

    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      flex-wrap: nowrap; /* empêche le retour à la ligne */

      img {
        width: 70px;
        height: auto;
        flex-shrink: 0; /* empêche le logo de rétrécir */
      }

      ul {
        display: flex
      ;
        align-items: flex-start;
        gap: 0;
        margin: 0 auto;
        padding: 0;
        justify-content: center;
        flex-direction: row;
        flex: 1;
        flex-wrap: nowrap;
      }

      li {
        margin: 0 1rem;
        list-style: none;
      }

      a {
        @include inter(700, normal, 18px);
        color: $color3;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        white-space: nowrap;

        &:hover { color: $color7; }
        &:active { color: $color2; }

        img {
          width: 18px;
          height: auto;
        }
      }

      .top-right {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0;
        flex-shrink: 0; /* reste à droite */

        a {
          white-space: nowrap;
          padding: 0.4rem 0.8rem;
          @include inter(700, normal, 16px);
        }
      }
    }
  }
}




/* Responsive Mobile max-width: 768px */
@media screen and (max-width: 768px) {
  header {
    padding: 1rem;

    nav {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      gap: 1rem;

      img {
        width: 50px;
        height: auto;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        width: 100%;
        padding: 0;
      }

      li {
        text-align: center;
        margin: 0.5rem 0;
        white-space: nowrap;
      }

      a {
        @include inter(700, normal, 16px);
        text-decoration: none;
        color: white;
        white-space: nowrap;

        img {
          width: 18px;
        }
      }


      .top-right {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
        justify-content: flex-end;
        max-width: 100%;
        width: auto;
        margin:0 0 0 1rem;
      }

      .top-right a {
        border-radius: 4px;
        padding: 0.3rem 0.6rem;
        @include inter(700, normal, 14px);
        white-space: nowrap;
      }
    }
  }
}
/* Responsive très petit écran max-width: 480px */
@media screen and (max-width: 480px) {
  header {
    padding: 0.8rem 1rem;

    nav {
      flex-direction: column;
      align-items: center;
      gap: 0.6rem;

      img {
        width: 40px;
      }

      ul {
        margin-left: 0;
        gap: 1rem;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        padding: 0;
      }

      li {
        margin: 0.3rem 0;
        text-align: center;
      }

      a {
        @include inter(700, normal, 14px);
        white-space: normal;
      }

      .top-right {
        position: static;
        flex-direction: row;
        gap: 0.3rem;
        justify-content: center;
        margin: 0.5rem 0 0 0;
      }

      .top-right a {
        padding: 0.25rem 0.4rem;
        @include inter(700, normal, 12px);
      }
    }
  }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
  header.admin-header {
    nav {
      display: flex ;
      flex-direction: column;
      align-items: flex-start ;
      width: 100% ;

      .top-right {
        position: static ;
        order: 0 ;
        width: 100% ;
        display: flex ;
        justify-content: flex-end ;
        margin-bottom: 0.5rem ;
      }

      ul {
        order: 1 ;
        display: flex;
        flex-wrap: wrap;

        width: 100% ;
        list-style: none ;
        padding: 2rem 0 1rem 0;
        margin: 0 ;
        gap: 2rem;
      }

      li {
        margin: 0.5rem 0 ;
      }

      a {
        white-space: nowrap ;
        color: $color3 ;
        text-decoration: none;
      }
    }
  }
}


