@use "../vars/colors" as *;
@use "../vars/fonts" as *;

header {
  background-color: $color18;
  padding: 1rem 0 2rem;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;

    img {
      width: 70px;
      height: auto;
    }

    ul {
      list-style: none;
      display: flex;
      margin: 0 0 0 80px;
    }
    .top-right {
      display: flex;
      flex-direction: row;
      gap: 1.5rem;
      margin:0;
    }
    li {
      margin: 0 1rem;

    }

    a {
      @include inter(700, normal, 18px);
      color: $color3;
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      white-space: nowrap;

      &:hover {
        color: $color7;

      }
      &:active {
        color: $color2;
      }

      img {
        width: 18px;
        height: auto;
      }

    }
    .aBorder1{
      border: inset;
    }
    .aBorder2{
      background-color: $color1;
      color: $color4;
      border: 2px solid $color1;
    }
  }
}
@media screen and (max-width: 1024px) {
  header {
    padding: 1rem 1.5rem;

    nav {
      justify-content: space-between; // garde le layout horizontal
      gap: 1rem;

      img {
        width: 65px; // léger ajustement
      }

      ul {
        margin-left: 0;
        gap: 1rem;
      }

      li {
        margin: 0 0.5rem;
      }

      a {
        @include inter(700, normal, 17px);
      }

      .top-right a {
        padding: 0.3rem 0.6rem;
        @include inter(700, normal, 14px);
      }
    }
  }
}


/* Responsive Mobile max-width: 768px */
@media screen and (max-width: 768px) {
  header {
    padding: 1rem;

    nav {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      gap: 1rem;

      img {
        width: 50px;
        height: auto;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1.2rem;
        width: 100%;
        padding: 0;
      }

      li {
        text-align: center;
        margin: 0.5rem 0;
        white-space: nowrap;
      }

      a {
        @include inter(700, normal, 16px);
        text-decoration: none;
        color: white;
        white-space: nowrap;

        img {
          width: 18px;
        }
      }


      .top-right {
        position: absolute;
        top: 1rem;
        right: 1rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
        justify-content: flex-end;
        max-width: 100%;
        width: auto;
        margin:0 0 0 1rem;
      }

      .top-right a {
        border-radius: 4px;
        padding: 0.3rem 0.6rem;
        @include inter(700, normal, 14px);
        white-space: nowrap;
      }
    }
  }
}
/* Responsive très petit écran max-width: 480px */
@media screen and (max-width: 480px) {
  header {
    padding: 0.8rem 1rem;

    nav {
      flex-direction: column;
      align-items: center;
      gap: 0.6rem;

      img {
        width: 40px; // plus petite image pour mobile
      }

      ul {
        flex-direction: column;
        gap: 0.6rem;
        width: 100%;
        padding: 0;
        margin: 0;
      }

      li {
        margin: 0.3rem 0;
        text-align: center;
      }

      a {
        @include inter(700, normal, 14px);
        white-space: normal; // autorise le retour à la ligne
      }

      .top-right {
        position: static;
        flex-direction: row;
        gap: 0.3rem;
        justify-content: center;
        margin: 0.5rem 0 0 0;
      }

      .top-right a {
        padding: 0.25rem 0.4rem;
        @include inter(700, normal, 12px);
      }
    }
  }
}

