<footer>
    <section class="footer-body">
        <section id="newsletters">
            <section class="footer-logo">
                <div class="footer-logoAm">
                    <img src="/AgriMai/assets/styles/img/logo.png" alt="logo d'AgriMai">
                </div>

            </section>
            <div class="newsletters-body">
                <h6>Nos actus et bons plans</h6>
                <p>Inscrivez-vous dès maintenant à notre newsletter <br>
                    pour recevoir les dernières actualités sur les nouveaux produits agricoles,<br>
                    les opportunités d’exportation, les offres exclusives et les tendances du marché.</p>
                {% if session['success-message'] is defined %}
                    <p style="color: green">{{ session['success-message'] }}</p>
                {% endif %}
                <form action="/index.php?route=newsletter" method="POST">
                    <label for="email">
                        <input type="email" id="email" name="email" placeholder="Votre e-mail" required>
                    </label>
                    <button type="submit">OK</button>
                </form>
                <p class="cdg2">En cliquant sur S’inscrire, vous confirmez que vous acceptez nos <span><a href="/AgriMai/index.php?route=cgu-cgv" class="cdgStyle2">Conditions <br> générales d’utilisation</a></span>.</p>
            </div>
        </section>
        <section id="footer-social">
            <div class="footer-social-body">
                <div class="footer-text">
                    <h6>A propos de Nous</h6>
                    <ul>
                        <li><a href="/AgriMai/index.php?route=about"> Entreprise</a></li>
                        <li><a href="/AgriMai/index.php?route=about">Notre Equipe</a></li>
                        <li><a href="/AgriMai/index.php?route=faq">FAQ</a></li>
                    </ul>
                </div>
                <div class="footer-text">
                    <h6>Marché</h6>
                    <ul>
                        <li><a href="/AgriMai/index.php?route=products-region&region=Normandie">Normandie</a></li>
                        <li><a href="/AgriMai/index.php?route=products-region&region=Loire">Loire </a></li>
                        <li><a href="/AgriMai/index.php?route=products-region&region=Alsace">Alsace</a></li>
                    </ul>
                </div>
                <div class="footer-social-icon">
                    <h6>Suivez-nous</h6>
                    <a href="https://www.facebook.com/agrimai" target="_blank">
                        <img src="/AgriMai/assets/styles/img/Facebook.png" alt="Facebook">Facebook
                    </a>
                    <a href="https://instagram.com/agrimai" >
                        <img src="/AgriMai/assets/styles/img/Instagram.png" alt="Instagram">Instagram
                    </a>
                    <a href="https://twitter.com/agrimai" >
                        <img src="/AgriMai/assets/styles/img/x.png" alt="X">X
                    </a>
                    <a href="https://linkedin.com/company/agrimai" >
                        <img src="/AgriMai/assets/styles/img/In.png" alt="LinkedIn">LinkedIn
                    </a>
                    <a href="https://youtube.com/agrimai" >
                        <img src="/AgriMai/assets/styles/img/Youtube.png" alt="Youtube">Youtube
                    </a>
                </div>

            </div>

        </section>
    </section>
    <section id="footer-legal">
        <div class="footer-legal-body">
            <p class="copyright">© 2025 AgriMai — Tous droits réservés</p>
            <p><a href="/AgriMai/index.php?route=cgu-cgv">Politique de confidentialité</a></p>
            <p><a href="/AgriMai/index.php?route=cgu-cgv">Conditions générales d'utilisation</a></p>
            <p><a href="">Paramètres des cookies</a></p>
        </div>

    </section>
</footer>