<header>
    <nav>
        <img src="/AgriMai/assets/styles/img/logo.png" alt="logo">
        <ul>
            <li><a href="/AgriMai/index.php?route=home">ACCUEIL</a></li>
            <li><a href="/AgriMai/index.php?route=about">À PROPOS DE NOUS</a></li>
            <li><a href="/AgriMai/index.php?route=market">MARCHÉ</a></li>

            {% if session.user is defined and session.user.role is defined %}
                {% if session.user.role == 'Producteur' %}
                    <li><a href="/AgriMai/index.php?route=list-products-by-user">MES PRODUITS</a></li>
                    <li><a href="/AgriMai/index.php?route=producerMessages">MES MESSAGES</a></li>
                {% elseif session.user.role == 'Acheteur' %}
                    <li><a href="/AgriMai/index.php?route=buyerMessages">MES MESSAGES</a></li>
                {% elseif session.user.role == 'Admin' %}
                    <li><a href="/AgriMai/index.php?route=list-users">GESTION DES UTILISATEURS</a></li>
                    <li><a href="/AgriMai/index.php?route=list-AdminMessage">MESSAGES ADMIN</a></li>
                {% endif %}

                <li><a href="/AgriMai/index.php?route=logout">DÉCONNEXION</a></li>
            {% else %}
                <li><a class="aBorder1" href="/AgriMai/index.php?route=login">
                        <i class="fa-duotone fa-regular fa-user"></i>S'IDENTIFIER
                    </a></li>
                <li><a class="aBorder2" href="/AgriMai/index.php?route=register">S'INSCRIRE</a></li>
            {% endif %}

            <li>
                <a href="/index.php?route=panier">
                    PANIER <img src="/AgriMai/assets/styles/img/shopping-cart.png" alt="Panier">
                </a>
            </li>
        </ul>
    </nav>
</header>
