<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a href="/index.php">Accueil</a></li>
            <li><a href="/index.php?route=about">À propos</a></li>
            <li><a href="/index.php?route=contact">Contact</a></li>
            <li><a href="/index.php?route=faq">FAQ</a></li>
            <li><a href="/index.php?route=login">Connexion</a></li>
            <li><a href="/index.php?route=order">Commandes</a></li>
            <li><a href="/index.php?route=products">Produits</a></li>
            <li><a href="/index.php?route=register">Inscription</a></li>
        </ul>
    </nav>
</header>
</body>
</html>