{% extends "/admin/layoutProducer.html.twig" %}

{% block content %}
    <section id="product-form">
        <div class="product-form-body">
            <h3>CRÉER UN PRODUIT</h3>

            <form action="/AgriMai/index.php?route=store-product" method="post" enctype="multipart/form-data" class="product-form">
                <div class="form-content">
                    <label for="title">Nom du produit</label>
                    <input type="text" id="title" name="title" placeholder="Reinette Grise du Canada" required>
                </div>

                <div class="form-content">
                    <label for="description" class="descriptionPP">Description</label>
                    <textarea id="description" name="description" placeholder="Décrivez le produit..."></textarea>
                </div>

                <div class="form-content">
                    <label for="producer">Producteur</label>
                    <input type="text" id="producer" name="producer" placeholder="Nom du producteur">
                </div>

                <div class="form-content">
                    <label for="price">Prix (€)</label>
                    <input type="number" id="price" name="price" step="0.01" min="0" required>
                </div>

                <!-- <div class="form-content">
                     <label for="quantity">Quantité</label>
                     <input type="number" id="quantity" name="quantity" min="0" required>
                 </div>-->

                <div class="form-content">
                    <label for="location">Localisation</label>
                    <select id="location" name="location" required>
                        <option value="">-- Sélectionnez une région --</option>
                        <option value="Normandie">Normandie</option>
                        <option value="Alsace">Alsace</option>
                        <option value="Loire">Loire</option>

                    </select>
                </div>

                <div class="form-content">
                    <label for="image">Image du produit</label>
                    <input type="file" id="image" name="image" accept="image/*">
                </div>

                <input type="hidden" name="_csrf_token" value="{{ csrfToken }}">
                <div class="bnt-createDsh">
                    <button type="submit" class="btn-submit">Créer</button>
                </div>
            </form>
        </div>
    </section>
{% endblock %}
