
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title> {% block title %} AgriMai {% endblock %}</title>
    <link rel="stylesheet" href="assets/styles/css/style.css">
</head>
<body>
{% include "/admin/partials/headerProducer.html.twig"  %}
{% block content %}
{% endblock %}
{% include "/front/partials/footer.html.twig"  %}
<script src="/AgriMai/assets/javascript/main.js"></script>
</body>
</html>
