
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8" />
    <title> {% block title %} AgriMai {% endblock %}</title>
    <link rel="stylesheet" href="assets/styles/css/style.css">
</head>
<body>
{% include "/front/partials/header.html.twig"  %}
<main>
    {% block content %}
    {% endblock %}
</main>
{% include "/front/partials/footer.html.twig"  %}
<script src="./assets/javascript/main.js"></script>
</body>
</html>
