@mixin montserrat($weight: 700, $style: normal, $size: 40px) {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
  font-variation-settings: "wdth" 100;
  font-size: $size;
};
@mixin roboto($weight: 700, $style: normal, $size: 40px) {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
  font-variation-settings: "wdth" 100;
  font-size: $size;
};
@mixin inter($weight: 700, $style: normal, $size: 40px) {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: $weight;
  font-style: $style;
  font-variation-settings: "wdth" 100;
  font-size: $size;
}