
@use "../vars/colors" as *;
@use "../vars/fonts" as *;

html {
  font-size: 16px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: $color1;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; // centre verticalement
  padding: 0 2rem;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

footer {
  flex-shrink: 0;
  width: 100%;
  position: static;
  bottom: 0;
  left: 0;
}


section {
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
