
@use "../vars/colors" as *;
@use "../vars/fonts" as *;
html {
  font-size:16px;
}

body {
  margin:0;
  padding:0;
  min-height: 100vh;
  background-color:$color1;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 4rem;
}

section {
  margin: 0;
  padding: 0;
}