@use "../vars/colors" as *;
@use "../vars/fonts" as *;

#header-about{
  position: relative;
  color: $color3;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  .about-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;

  }
  .about-body{
    position: relative;
    z-index: 1;
    display: flex;
    gap: 4rem;
    align-items: center;
    flex-direction: column;

    .about-text{
      h1{
        @include montserrat(700, normal, 32px);
        color:$color3;
        text-align: center;
      }
      p{
        @include roboto(600, oblique, 28px,);
        text-align: center;
        color: $color3;
      }
    }
  }
}

#agMai-about{
  .agMai-body{
    display: flex;
    flex-direction: row;
    gap: 6rem;
    padding-left: 4rem;
    margin-top: 2rem;

    .agMaiAbout-text{
      p{
        @include roboto-light(300, normal, 18px);
        color: $color4;
      }
      .about-titleP{
        @include roboto(500, normal, 26px);
        color:$color4;
        text-decoration: underline;
      }
    }
    .agMaiAbout-img{
      img{
        width: 270px;
        height: 270px;
        padding: 30px;
        border-radius: 70px;
      }
    }
  }
}

#team{
  .team-body{
    border-top: inset;
    margin: 4rem;
    .team1{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 30px;

      .team-member{
        img{
          width: 170px;
          height: 170px;
        }
        h3{
          @include montserrat(600, normal, 20px);
          color: $color4;
        }
        .team-title{
          @include roboto-light(600, oblique, 18px);
          color: $color4;
        }
        p{
          @include roboto(300, normal, 16px);
          color:$color4;
        }
        .team-logo{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          gap: 1rem;
          img{
            gap: 1rem;
            width: 30px;
            height: 30px;
          }
        }
      }
    }

    .team2{
      margin-top: 40px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 0.2rem;
      border-top: inset;
      padding-top: 30px;

      .team-member2{
        img{
          width: 130px;
          height: 130px;
        }
        h3{
          @include montserrat(600, normal, 20px);
          color:$color4;
        }
        .team-title2{
          @include roboto-light(600, oblique, 18px);
          color:$color4;
        }
        p{
          @include roboto(300, normal, 16px);
          color:$color4;
        }
        .team-logo2{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          gap: 1rem;
          img{
            gap: 1rem;
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }
}
#address{
  border: dashed;
  padding: 10px;
  background: $color5;
  .address-body{
    display: flex;
    flex-direction: row;
    padding: 20px 0 20px 0;
    gap: 8rem;
    border: dotted;
    justify-content: center;
    background:$color31;


    .address-text{
      padding: 20px;
        h3{
          @include montserrat(600, normal, 20px);
          color:$color4;
        }
        p{
          @include roboto(300, normal, 16px);
          color:$color4;
        }
    }
    .address-img{
      margin-left: 0.5px;
      iframe{
        width: 490px;
        height: 390px;
        padding: 20px 0 20px 0;
      }

    }
  }
}

/* Responsive - Tablette (max-width: 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {

  #header-about {
    padding: 1.8rem;
    min-height: 20vh;
    .about-body {
      gap: 3rem;

      .about-text {
        h1 {
          @include montserrat(700, normal, 32px);
        }

        p {
          @include playfair(600, oblique, 30px, 1.5);
        }
      }
    }
  }

  #agMai-about {
    .agMai-body {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 0;
      gap: 0.15rem;


      .agMaiAbout-text {
        p {
          @include roboto-light(300, normal, 26px);
        }

        .about-titleP {
          @include roboto(500, normal, 28px);
        }
      }

      .agMaiAbout-img {
        margin-top: 6rem;
        img {
          width: 290px;
          height: 270px;
          border-radius: 65px;
          padding: 0;
        }
      }
    }
  }


  #team {
    margin: 3rem auto;
    width: 95%;

    .team-body {
      margin: 2rem auto;
      width: 100%;

      .team1,
      .team2 {
        flex-direction: row;
        padding-top: 25px;
        gap: 5rem;
        justify-content: space-around;

        .team-member,
        .team-member2 {
          img {
            width: 160px;
            height: 160px;
          }

          h3 {
            @include montserrat(600, normal, 28px);
          }

          .team-title,
          .team-title2 {
            @include roboto-light(600, oblique, 26px);
          }

          p {
            @include roboto(300, normal, 24px);
          }

          .team-logo,
          .team-logo2 {
            img {
              width: 38px;
              height: 28px;
            }
          }
        }
      }
    }
  }

  #address {
    margin: 4rem auto;
    width: 90%;

    .address-body {
      flex-direction: row;
      justify-content: space-between;
      gap: 4rem;
      align-items: center;

      .address-text {
        padding: 20px;

        h3 {
          @include montserrat(600, normal, 26px);
        }

        p {
          @include roboto(300, normal, 24px);
        }
      }

      .address-img iframe {
        width: 330px;
        height: 230px;
        padding: 18px;
      }
    }
  }
}


/* Responsive - Mobile (max-width: 768px) */
@media screen and (max-width: 768px) {

  #header-about {
    padding: 1.5rem;
    min-height: 80vh;

    .about-body {
      flex-direction: column;
      gap: 1.5rem;
      text-align: center;

      .about-text {
        h1 {
          @include montserrat(700, normal, 32px);
        }

        p {
          @include playfair(600, oblique, 28px, 1.6);
          line-height: 1.4;
        }
      }
    }
  }

  #agMai-about {
    padding: 0;
    .agMai-body {
      flex-direction: column;
      align-items: center;
      gap: 1.5rem;
      padding: 0;

      .agMaiAbout-text {
        max-width: 400px;
        text-align: justify;

        p {
          padding: 0 1rem 0 1rem;
          @include roboto-light(300, normal, 26px);
        }

        .about-titleP {
          display: flex;
          flex-direction: row;
          justify-content: center;
          @include roboto(500, normal, 26px);
        }
      }

      .agMaiAbout-img img {
        width: 350px;
        height: 350px;
        padding: 20px;
        border-radius: 50px;
      }
    }
  }

  #team {
    border-top: inset;
    .team-body {
    padding: 0;
      margin: 0;
      .team1,
      .team2 {
        flex-direction: column;
        gap: 2rem;
        padding-top: 20px;
        border-top-width: 0;


        .team-member,
        .team-member2 {
          text-align: center;

          img {
            width: 150px;
            height: 150px;
          }

          h3 {
            @include montserrat(600, normal, 26px);
          }

          .team-title,
          .team-title2 {
            @include roboto-light(600, oblique, 24px);
          }

          p {
            @include roboto(300, normal, 22px);
          }

          .team-logo,
          .team-logo2 {
            justify-content: center;

            img {
              width: 35px;
              height: 35px;
            }
          }
        }
      }
    }
  }

  #address {
    margin-top: 2rem;
    .address-body {
      flex-direction: column;
      gap: 2rem;
      background: $color31;
      text-align: center;
      padding-top: 0;

      .address-text {
        padding: 10px;

        h3 {
          @include montserrat(600, normal, 26px);
        }

        p {
          @include roboto(300, normal, 20px);
        }
      }

      .address-img iframe {
        width: 100%;
        max-width: 300px;
        height: auto;
        padding: 10px;
        box-sizing: border-box;
      }
    }
  }
}
