@use "../vars/colors" as *;
@use "../vars/fonts" as *;


.contact {
  background:$color21;
  margin: 0;
  .contact-body {
    display: flex;
    justify-content: center;
    align-items: center;

    .contact-form {
      background: $color22;
      border: 2px solid $color1;
      border-radius: 30px;
      margin: 2rem;
      width: 570px;

      form{
        padding: 30px;
        h3 {
          text-align: center;
          color: $color27;
          @include montserrat(600, normal, 22px);
          margin-bottom: 0.8rem;
        }

        p {
          color: $color27;
          @include roboto(400, oblique, 18px);
          text-align: center;
          margin: 1.5rem 0 1.5rem 0;
        }
      }
      input,
      textarea {
        background-color: $color1;
        color: $color4;
        border: 1px solid $color12;
        border-radius: 10px;
        padding: 0.5rem;
        @include roboto(400, normal, 16px);

        &::placeholder {
          color: $color6;
          opacity: 1;
        }
      }

      label {
        color: $color4;
        margin-bottom: 0.3rem;
        display: block;
        @include roboto(400, normal, 18px);
      }

      .title {
        display: flex;
        flex-direction: column;
        align-items: center;

      }

      .champs {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        margin-bottom: 1rem;
      }

      .submit {
        display: flex;
        justify-content: center;
        padding: 20px;
        button {
          background: $color12;
          color: $color1;
          border: 1px solid $color3;
          border-radius: 30px;
          padding: 0.6rem 1.2rem;
          cursor: pointer;

          &:hover {
            background: $color1;
            color: $color4;
          }
          &:active {
            background: $color2;
            color: $color1;
          }
        }
      }

      .errors {
        margin-bottom: 1rem;
        padding: 0.5rem;
        background-color: $color2;
        border-radius: 10px;
        color: $color1;

        ul {
          margin: 0;
          padding-left: 1.2rem;
        }

        li {
          margin-bottom: 0.3rem;
        }
      }
    }
  }
}

/* Responsive - Tablette max-width: 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {

  .contact {
    .contact-body {
      flex-direction: column;
      align-items: center;
      padding: 1.5rem;

      .contact-form {
        width: 80%;
        max-width: 700px;
        margin: 1.5rem;
        border-radius: 25px;

        form {
          padding: 25px;

          h3 {
            @include montserrat(600, normal, 22px);
            margin-bottom: 0.6rem;
          }

          p {
            @include roboto(400, oblique, 17px);
            margin: 1.2rem 0;
            text-align: center;
          }
        }

        input,
        textarea {
          @include roboto(400, normal, 15px);
          padding: 0.45rem;
        }

        label {
          @include roboto(400, normal, 17px);
          margin-bottom: 0.25rem;
        }

        .champs {
          margin-bottom: 0.9rem;
        }

        .submit {
          padding: 18px;

          button {
            @include inter(600, normal, 16px);
            padding: 0.55rem 1.1rem;
          }
        }

        .errors {
          @include inter(600, normal, 15px);
          padding: 0.45rem;

          ul {
            padding-left: 1.1rem;
          }

          li {
            margin-bottom: 0.25rem;
          }
        }
      }
    }
  }
}


/* Responsive - Mobile max-width: 768px */
@media screen and (max-width: 768px) {

  .contact {
    .contact-body {
      flex-direction: column;
      align-items: center;
      padding: 1rem;

      .contact-form {
        width: 100%;
        max-width: 90%;
        margin: 1rem;
        border-radius: 20px;

        form {
          padding: 20px;

          h3 {
            @include montserrat(600, normal, 20px);
            margin-bottom: 0.5rem;
          }

          p {
            @include roboto(400, oblique, 16px);
            margin: 1rem 0;
          }
        }

        input,
        textarea {
          @include roboto(400, normal, 14px);
          padding: 0.4rem;
        }

        label {
          @include roboto(400, normal, 16px);
          margin-bottom: 0.2rem;
        }

        .title {
          align-items: center;
        }

        .champs {
          margin-bottom: 0.8rem;
        }

        .submit {
          padding: 15px;

          button {
            @include inter(600, normal, 16px);
            padding: 0.5rem 1rem;
          }
        }

        .errors {
          @include inter(600, normal, 14px);
          padding: 0.4rem;

          ul {
            padding-left: 1rem;
          }

          li {
            margin-bottom: 0.2rem;
          }
        }
      }
    }
  }
}

