@use "../vars/colors" as *;
@use "../vars/fonts" as *;

#login{
  display: flex;
  flex-direction: row;
  align-items: stretch; /* pour que les deux div prennent la même hauteur */
  justify-content: center;
  padding: 2rem;
  margin-bottom: 2rem;
  min-height: auto;

  .login-image {
    flex: 1;
    background: url("./assets/styles/img/apples.png") no-repeat center center/cover;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .login-body{
    flex: 1;
    width: 300px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 5px 0 0 5px;
    background-color:$color30;

    h3{
      @include montserrat(600, normal, 22px);
      color: $color3;
    }

    img{
      width: 100px ;
      height: auto ;
      max-width: none
    }
    p{
      @include roboto(400, oblique, 20px);
      color: $color3;
      margin: 0 0 30px 10px;
      text-align: center;
    }
    form{
      display: flex;
      flex-direction: column;
      gap: 1rem;

      label{
        display: flex;
        flex-direction: column;
        gap: 0.7rem;
        width: 450px;
        @include roboto(400, normal, 18px);
        color: $color3;
      }
      input{
        border: 1px solid $color27;
        border-radius: 5px;

      }
      input,
      textarea{
        height: 40px;
        background-color: $color3;
        color: $color4;
        padding: 0.5rem;
        @include roboto(400, normal, 16px);

        &::placeholder {
          color:$color6;
          opacity: 1;
        }
      }
      .login-btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
      }
      button{
        @include inter(600, normal, 18px);
        background: $color22;
        color: $color4;
        border-radius: 30px;
        border: 1px solid $color3;
        padding: 0.6rem 1.2rem;
        cursor: pointer;
        &:hover {
          background: $color1;
          color: $color4;
        }
        &:active {
          background: $color2;
          color: $color1;
        }
      }
    }

  }
}
.login-link{
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  p{
    @include roboto(400, normal, 16px);
    color: $color3;
  }
  a{
    @include roboto(400, normal, 16px);
    color: $color3;
  }
}
.loginForm-group{
  select{
    border-radius: 5px;
    width: 170px;
    height: 30px;
  }

}

/* Responsive - Tablette / écran moyen max-width: 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #login {
    padding: 2rem;
    margin-bottom: 2rem; /* ou 1rem selon besoin */

    .login-body {
      width: 100%;
      max-width: 400px; /* réduit la largeur */
      padding: 40px; /* un peu moins que sur desktop */
      border-radius: 5px 0 0 5px;

      h3 {
        @include montserrat(600, normal, 28px);
      }

      img {
        width: 90px;
      }

      p {
        @include roboto(400, oblique, 26px);
        margin: 0 0 25px 0;
        text-align: center;
      }

      form {
        width: 100%;
        gap: 0.8rem;

        label {
          width: 100%;
          @include roboto(400, normal, 24px);
        }

        input,
        textarea {
          height: 50px;
          padding: 0.5rem;
          @include roboto(400, normal, 22px);
        }

        .login-btn {
          margin-top: 1rem;
          width: 100%;
        }

        button {
          @include inter(600, normal, 22px);
          padding: 0.5rem 1rem;
          max-width: 210px;
          width: 100%;
        }
      }
    }

    .login-image {
      flex: 1; /* garde côte à côte */
      height: auto;
      min-height: 500px;
      border-radius: 0 5px 5px 0;
      background-size: cover;
      background-position: center;
    }
  }

  .login-link {
    gap: 0.8rem;
    p,
    a {
      @include roboto(400, normal, 22px);
    }
  }

  .loginForm-group select {
    width: 150px; /* ajusté pour ne pas être trop large */
    height: 50px;
    font-size: 22px;
  }
}



/* Responsive - Mobile max-width: 768px */
@media screen and (max-width: 768px) {

  #login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;


    .login-body {
      width: 100%;
      max-width: 85%;
      padding: 30px;
      border-radius: 10px 10px 0 0;

      h3 {
        @include montserrat(600, normal, 30px);
        text-align: center;
      }

      img {
        width: 100px;
        margin: 0 auto;
      }

      p {
        @include roboto(400, oblique, 28px);
        margin: 0 0 20px 0;
        text-align: center;
      }

      form {
        width: 100%;
        gap: 0.8rem;

        label {
          width: 100%;
          @include roboto(400, normal, 26px);
        }

        input,
        textarea {
          @include roboto(400, normal, 24px);
          padding: 0.4rem;
          height: 50px;
        }

        .login-btn {
          margin-top: 0.8rem;
          width: 100%;
        }

        button {
          @include inter(600, normal, 20px);
          padding: 0.5rem 1rem;
          max-width: 250px;
          width: 100%;
        }
      }
    }
    .login-image {
      flex: 1;
      width:  85%;
      height: auto;
      min-height: 250px;
      border-radius: 0 0 5px 5px;
      background-size: cover;
      background-position: center;
    }
  }

  .login-link {
    gap: 0.8rem;
    p, a {
      @include roboto(400, normal, 26px);
      text-align: center;
    }
  }

  .loginForm-group {
    select {
      width: 100%;
      max-width: 150px;
      height: 40px;
      font-size: 22px;
    }
  }

}
