@use "../vars/colors" as *;
@use "../vars/fonts" as *;

#register{
  display: flex;
  flex-direction: row;
  align-items: stretch; /* pour que les deux div prennent la même hauteur */
  justify-content: center; /* centre horizontalement */
  padding:2rem;
  margin-bottom: 2rem;
  min-height: auto;
  .register-img{
    flex: 1;
    background: url("/AgriMai/assets/styles/img/apples.png") no-repeat center center/cover;
    border-radius: 0 5px 5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
  .register-body{
    flex: 1;
    width: 300px;
    padding: 20px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 5px 0 0 5px;
    background-color:$color30;

    img{
      width: 100px;
    }

    h3{
      @include montserrat(600, normal, 22px);
      color: $color3;
      margin: 20px 0 25px 0;
    }
    p{
      @include roboto(400, oblique, 20px);
      color: $color3;
      margin: 0 0  20px 15px ;

    }

    form{
      width: 400px;
      max-width: 100%;
      gap: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;


      .form-group{
        display: flex;
        flex-direction: column;
        max-width: 460px;
        width: 100%;

        label{
          @include roboto(400, normal, 18px);
          color: $color3;
        }

        input{
          border: 1px solid $color27;
          border-radius: 5px;
          height: 20px;
        }
        input,
        textarea{
          background-color: $color3;
          color: $color4;
          padding: 0.5rem;
          @include roboto(400, normal, 16px);

          &::placeholder {
            color:$color6;
            opacity: 1;
          }
        }
        select{
          height: 40px;
          border: 1px solid $color27;
          border-radius: 5px;

        }
        select,
        textarea{
          background-color: $color3;
          color: $color4;
          padding: 0.5rem;
          @include roboto(400, normal, 16px);

          &::placeholder {
            color:$color6;
            opacity: 1;
          }
        }
      }
      button{
        @include inter(600, normal, 18px);
        background: $color22;
        color: $color4;
        border: 1px solid $color3;
        border-radius: 35px;
        margin-top: 1rem;
        padding: 0.5rem 1.2rem;
        cursor: pointer;
        width:160px;
        height: 40px;
        &:hover {
          background: $color1;
          color: $color4;
        }
        &:active {
          background: $color2;
          color: $color1;
        }
      }
      p{
        @include roboto(400, normal, 16px);
        color: $color3;
        a{
          @include roboto(400, normal, 16px);
          color: $color3;
        }
      }
    }

  }
}

/* Responsive - Tablette max-width: 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {

  #register {
    padding: 2rem 1rem;
    margin-bottom: 1.5rem;
    justify-content: space-between;
    flex-wrap: wrap; /* pour permettre l'adaptation sans débordement */

    .register-body {
      flex: 1 1 50%;
      max-width: 50%;
      padding: 40px 20px;
      border-radius: 10px 0 0 10px;
      box-sizing: border-box; /* important pour éviter les débordements */

      img {
        width: 90px;
      }

      h3 {
        @include montserrat(600, normal, 20px);
        margin: 15px 0 20px;
      }

      p {
        @include roboto(400, oblique, 18px);
        margin-bottom: 15px;
        text-align: center;
      }

      form {
        width: 400px; /* prend toute la largeur disponible */
        max-width: 100%; /* empêche toute limite */
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        box-sizing: border-box;

        .form-group {
          max-width: 370px;
          width: 100%;
          flex-direction: column;

          label {
            @include roboto(400, normal, 16px);
          }

          input,
          select,
          textarea {
            @include roboto(400, normal, 16px);
            width: 100%;
            height: 35px;
            padding: 0.4rem;
            box-sizing: border-box;
          }
        }

        button {
          @include inter(600, normal, 16px);
          width: 150px;
          height: 38px;
          margin-top: 0.8rem;
        }

        p, p a {
          @include roboto(400, normal, 16px);
          text-align: center;
        }
      }
    }

    .register-img {
      flex: 1 1 50%;
      border-radius: 0 10px 10px 0;
      background-size: cover;
      background-position: center;
      min-height: 450px;
    }
  }
}

/* Responsive - Mobile max-width: 768px */
@media screen and (max-width: 768px) {

  #register {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    margin: 1rem;

    .register-body {
      width: 100%;
      max-width: 65%;
      padding: 30px;
      border-radius: 10px 10px 0 0;

      img {
        width: 60px;
        margin: 0 auto;
      }

      h3 {
        @include montserrat(600, normal, 18px);
        text-align: center;
      }

      p {
        @include roboto(400, oblique, 16px);
        margin: 0 0 20px 0;
        text-align: center;
      }

      form {
        max-width: 300px;
        width: 100%;
        gap: 0.8rem;

        .form-group {
          width: 100%;
          flex-direction: column;

          label {
            @include roboto(400, normal, 16px);
          }

          input,
          select,
          textarea {
            @include roboto(400, normal, 14px);
            padding: 0.4rem;
            width: 100%;
          }
          select{
            width: 150px;
          }
        }

        button {
          @include inter(600, normal, 16px);
          padding: 0.5rem 1rem;
          max-width: 150px;
          width: 100%;
          margin-top: 0.8rem;
        }

        p, p a {
          @include roboto(400, normal, 14px);
          text-align: center;
        }
      }
    }
    .register-img {
      flex: 1;
      width: 410px;
      height: auto;
      min-height: 250px;
      border-radius: 0 0 5px 5px;
      background-size: cover;
      background-position: center;
    }
  }
}
