@use "../vars/colors" as *;
@use "../vars/fonts" as *;

#product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem;

  .product-form-body {
    width: 600px;
    padding: 80px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    background: $color22;
    border: 2px solid $color1;

    h3 {
      @include montserrat(600, normal, 22px);
      color: $color4;
      text-align: center;
      margin: 5px 0 40px 0;
    }

    .product-form {
      display: flex;
      gap: 20px;
      flex-direction: column;
      align-items: flex-start;

      .bnt-createDsh {
        align-self: center;
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 20px;
      }

      textarea {
        min-height: 140px;
        width: 100%;
        resize: vertical;
      }

      .form-content {
        display: contents;
      }

      label {
        @include roboto(400, normal, 18px);
        color: $color4;
      }


      input,
      select,
      textarea {
        border: 1px solid $color27;
        border-radius: 5px;
        background-color: $color3;
        color: $color4;
        padding: 0.5rem;
        @include roboto(400, normal, 16px);

        &::placeholder {
          color: $color6;
          opacity: 1;
        }
      }

      input {
        min-height: 20px;
        width: 100%;
        resize: vertical;
      }

      select {
        height: 40px;
        width: 250px;
      }
    }
    button{
      @include inter(600, normal, 18px);
      background: $color12;
      color: $color1;
      border: 1px solid $color3;
      border-radius: 30px;
      padding: 0.6rem 1.2rem;
      width: 130px;
      cursor: pointer;

      &:hover {
        background: $color2;
      }
    }
  }

}


/* Responsive Tablette (max-width: 1024px) */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
    min-height: calc(100vh - 700px);

    .product-form-body {
      margin: 4rem;
      padding: 40px;
      width: 100%;
      max-width: 600px;
      height: 100%;

      h3 {
        @include montserrat(600, normal, 20px);
      }
    }
  }

}
/* Responsive - Mobile (max-width: 768px) */
@media screen and (max-width: 768px) {
  #product-form {
    padding: 1.5rem;
    margin: 1rem;

    .product-form-body {
      width: 100%;
      max-width: 500px;
      padding: 1.5rem;
      border-radius: 20px;

      h3 {
        font-size: 20px;
        margin: 0 0 1.5rem 0;
      }

      .product-form {
        gap: 1rem;
        align-items: stretch; // pour que les champs prennent toute la largeur

        label {
          font-size: 16px;
        }

        input,
        select,
        textarea {
          width: 100%;
          max-width: 450px;
          font-size: 15px;
          padding: 0.5rem 0.7rem;
        }

        textarea {
          min-height: 100px;
        }

        select {
          max-width: 250px;
          width: 100%;
          height: 38px;
        }

        .bnt-createDsh {
          width: 100%;
          margin-top: 1rem;
          justify-content: center;
        }
      }

      button {
        width: 100%;
        max-width: 150px;
        font-size: 16px;
        border-radius: 20px;
      }
    }
  }
}
