@use "../vars/colors" as *;
@use "../vars/fonts" as *;

#productDetail {
  margin: 100px;

  .productDetail-body {
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr;
    gap: 2rem;
    align-items: start;

    .productDetail-centerPart{
      img{
        width: 400px;
        padding: 0 50px 50px 70px;
      }
    }
    .productDetail-leftPart{
      .productDetail-link{
        padding: 0;
        margin-bottom: 30px;

        a{
          @include roboto-light(300, normal, 16px);
          color: $color4;
        }
        span{
          @include roboto-light(600, normal, 16px);
        }
      }
      .productDetail-info{
        h2{
          margin: 0;
          @include montserrat(600, normal, 22px);
          color: $color4;
        }
        .separator{
          display: flex;
          flex-direction: row;
          align-items: center;
          p{
            @include roboto(600, normal, 16px);
          }
          .productDetail-stars{
            border-left: 1px solid;
            padding: 10px;
            margin: 20px;
            color: $color4;
            span{
              @include roboto-light(400, normal, 16px);
              color: $color4;
            }
          }
        }
        .p-description{
          @include inter(400, normal, 16px);
        }
        .productDetail-btn{
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          gap: 3rem;

          h3{
            @include montserrat(300, normal, 16px);
            text-decoration: underline;
            color: $color4;

            a{
              @include roboto-light(300, normal, 16px);
              text-decoration: underline;
              color: $color4;
            }
          }
        }

      }
    }

    .productDetail-rightPart{
      margin-top: 60px;
      .productDetail-lots{
        margin: 0 0 30px 0;
        p{
          @include roboto(600, normal, 20px);
        }
        button{
          @include inter(600, normal, 16px);
          border: 1px solid $color3;
          background: black;
          color: white;
          width: 100px;
          height: 35px;

        }
      }
      .productDetail-formOrder{
        display: ruby-text;

        label{
          @include roboto(400, normal, 18px);
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .lots{
            width: 160px;
            height: 40px;
            margin: 0 5px 0 0;
          }
          .qty{
            width: 50px;
            height: 40px;
          }
        }
       }
      .productDetail-textOrder{
        button{
          margin: 10px 0 10px 0;
          @include inter(600, normal, 16px);
          background: $color4;
          color: $color3;
          width: auto;
          height: 35px;
          border: 1px solid $color3;
          a{
            color: $color3;
            text-decoration: none;
          }
        }
        p{
          @include roboto-light(300, normal, 16px);
          a{
            @include roboto-light(600, normal, 16px);
            color: $color4;
          }
        }
        .order-Condition{
          @include roboto-light(300, normal, 14px);
        }
      }
    }
  }

}
.popup-livraison {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: rgba(22,22,22,0.5);
  border-radius: 0.5rem;
  z-index: 1;
  display: none;
}
.popup-livraison .popup {
  position: relative;
  margin: 0 auto;
  top: 25%;
  width: 75%;
  height: 65%;
  background-color:$color22;
  border-radius: 0.5rem;
  padding: 1.5rem;
  box-sizing: border-box;
}
.popup-livraison .content {
  padding: 2rem;
  box-sizing: border-box;
}
.popup-livraison .close-button {
  position: absolute;
  float: right;
  width: 1.5rem;
  height: 1.5rem;
  right: 0;
  top: 0.1rem;
  text-decoration: none;
  color: $color6;
}
.popup-livraison .content p {
  text-align: center;
  @include roboto-light(300, normal, 18px);
  color:$color4;
}
.popup-livraison .content h5 {
  text-align: center;
  text-decoration: underline;
  @include montserrat(600, normal, 20px);
  color:$color4;
}

.visible, .visible::after {
  display: block;
}
/* J'ai utiliser le meme css du pop pup pour le formulaire d'achat*/
#openForm{
    button{
      @include inter(600, normal, 16px);
      border: 1px solid $color3;
      background: black;
      color: white;
      width: 220px;
      height: 35px;
  }

}
#popup-form .purchase {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

#popup-form label {
  margin-bottom: 0.3rem;
  font-size: 16px;
  font-weight: 500;
}

#popup-form input,
#popup-form textarea {
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: 1px solid $color3;
  @include roboto(400, normal, 16px);
  width: 100%;
  box-sizing: border-box;
}

#popup-form textarea {
  resize: vertical;
}

/* Bouton d’envoi */
#popup-form .submit {
  text-align: center;
  margin-top: 1rem;
}

#popup-form .submit button {
  background: $color12;
  color: $color1;
  border: 1px solid $color3;
  border-radius: 18px;
  width: 200px;
  height: 50px;

  @include inter(600, normal, 16px);
  cursor: pointer;
  transition: background 0.3s ease;
}

#popup-form .submit button:hover {
  background-color: $color2;
}
.close-button:hover {
  color: $color28;
}

/* POPUP RETOUR */
.popup-retour {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

  .popup2 {
    background-color: $color1;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 60%;
    position: relative;
    text-align: center;
    color: $color4;
  }

  .close-button2 {
    position: absolute;
    top: 10px;
    right: 15px;
    text-decoration: none;
    font-size: 24px;
    color: $color4;
    cursor: pointer;
  }
  .content2 p {
    text-align: center;
    @include roboto-light(300, normal, 18px);
    color:$color4;
  }
  .content2 h5 {
    text-align: center;
    text-decoration: underline;
    @include montserrat(600, normal, 20px);
    color:$color4;
  }

  .close-button2:hover {
    color: $color28;
  }
}

/* Responsive Tablette 769px à 1024px */
@media screen and (min-width: 769px) and (max-width: 1024px) {

  #productDetail {
    margin:0;
    padding: 0;

    .productDetail-body {
      display: grid;
      grid-template-columns: 1fr 1fr; /* gauche = texte + image, droite = formulaire a modifier */
      gap: 2rem;
      padding: 2rem;
      background-color: rgba(255, 255, 255, 0.05);
      border-radius: 12px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      align-items: start;


      /* Partie gauche : texte + image */
      .productDetail-leftPart {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        .productDetail-link {
          margin-bottom: 15px;

          a, span {
            @include roboto-light(300, normal, 15px);
          }
        }

        .productDetail-info {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          h2 {
            @include montserrat(600, normal, 21px);
          }

          .separator {
            display: flex;
            flex-direction: row;
            gap: 0.75rem;

            p {
              @include roboto(600, normal, 15px);
            }

            .productDetail-stars {
              border-left: 1px solid rgba(0, 0, 0, 0.2);
              padding: 6px 12px;
              margin: 0;
              span {
                @include roboto-light(400, normal, 15px);
              }
            }
          }

          .p-description {
            @include inter(400, normal, 15px);
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 8px;
            padding: 0;
          }

          .productDetail-btn {
            display: flex;
            gap: 1.5rem;

            h3 {
              @include montserrat(300, normal, 15px);

              a {
                @include roboto-light(300, normal, 15px);
              }
            }
          }
        }
      }

      /* Image centrée */
      .productDetail-centerPart {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          max-width: 320px;
          width: 100%;
          height: auto;
          border-radius: 8px;
          border: 1px  solid $color12;
        }
      }

      /* Partie droite : boutons / formulaire */
      .productDetail-rightPart {
        display: flex;
        flex-direction: column;
        margin: 0;

        .productDetail-lots {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          p {
            @include roboto(600, normal, 18px);
          }

          .productDetail-lot-btn,
          button {
            width: 100%;
            max-width: 160px;
            height: 38px;
            @include inter(600, normal, 1§px);
          }
        }

        .productDetail-formOrder {
          display: flex;
          flex-direction: column;
          gap: 0.75rem;

          label {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .lots,
            .qty {
              width: 100%;
              max-width: 160px;
              height: 38px;
              .option{
                @include inter(600, normal, 18px)
              }
            }
          }
        }

        .productDetail-textOrder {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          button {
            width: 100%;
            max-width: 220px;
            height: 38px;
            @include inter(600, normal, 15px);
          }

          p {
            @include roboto-light(300, normal, 15px);
            a {
              @include roboto-light(600, normal, 15px);
            }
          }

          .order-Condition {
            @include roboto-light(300, normal, 13px);
          }
        }
      }
    }

    /* Popups Livraison / Formulaire */
    .popup-livraison,
    #popup-form {
      .popup {
        width: 70%;
        max-width: 500px;
        top: 20%;
        padding: 1.5rem;
        border-radius: 10px;
        background-color: $color22;
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
      }

      .content {
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
      }

      .content h5 {
        @include montserrat(600, normal, 18px);
        text-align: center;
      }

      .content p {
        @include roboto-light(300, normal, 14px);
        text-align: center;
      }
    }

    .js-close-button,
    .close-button {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }

    #openForm button {
      width: 100%;
      max-width: 220px;
      height: 38px;
      @include inter(600, normal, 15px);
      margin-top: 1rem;
    }

    #popup-form .purchase {
      flex-direction: column;
      margin-bottom: 1rem;
    }

    #popup-form input,
    #popup-form textarea {
      @include roboto(400, normal, 15px);
      padding: 0.55rem;
    }

    #popup-form .submit button {
      width: 100%;
      max-width: 220px;
      height: 45px;
      @include inter(600, normal, 15px);
    }
  }
}


/* Responsive - Mobile max-width: 768px */
@media screen and (max-width: 768px) {

  #productDetail {
    margin: 20px;

    .productDetail-body {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding:  0 4rem;
      margin: 2rem auto;
      background-color: rgba(255, 255, 255, 0.05);
      border-radius: 12px;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
      align-items: center;

      .productDetail-centerPart {
        order: 1;
        img {
          margin-top: 2rem;
          max-width: 210px;
          width: 100%;
          height: auto;
          padding: 0 0 20px 40px;
          border: 1px solid $color12;
        }
      }

      .productDetail-leftPart {
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        .productDetail-link {
          margin-bottom: 15px;

          a, span {
            @include roboto-light(300, normal, 14px);
          }
        }

        .productDetail-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          h2 {
            @include montserrat(600, normal, 20px);
          }

          .separator {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            p {
              @include roboto(600, normal, 14px);
            }
            .productDetail-stars {
              border-left: 1px solid;
              padding: 5px 10px;
              margin: 10px 0;
              span {
                @include roboto-light(400, normal, 14px);
              }
            }
          }

          .p-description {
            @include inter(400, normal, 15px);
            text-align: left;
            max-width: 600px;
            margin: 0 auto;
            line-height: 1.6;                  // espace entre les lignes pour lisibilité
            padding: 0.8rem;
            background-color: rgba(255, 255, 255, 0.05);
            border-radius: 8px;
          }

          .productDetail-btn {

            gap: 1rem;

            h3 {
              @include montserrat(300, normal, 14px);
              a {
                @include roboto-light(300, normal, 14px);
              }
            }
          }
        }
      }

      .productDetail-rightPart {
        order: 3;
        margin-top: 10px;

        .productDetail-lots {
          .productDetail-lot-btn{
            @include inter(600, normal, 14px);
            width: 90px ;
            max-width: 100px;
            height: 35px;
          }
          p {
            @include roboto(600, normal, 16px);
          }
          button {
            width: 100%;
            max-width: 150px;
            height: 35px;
          }
        }

        .productDetail-formOrder {
          display: ruby-text;
          gap: 0.5rem;

          label {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .lots,
            .qty {
              width: 100%;
              max-width: 160px;
              height: 35px;
            }
          }
        }

        .productDetail-textOrder {
          button {
            width: 100%;
            height: 35px;
            @include inter(600, normal, 14px);
          }
          p {
            @include roboto-light(300, normal, 14px);
            a {
              @include roboto-light(600, normal, 14px);
            }
          }
          .order-Condition {
            @include roboto-light(300, normal, 12px);
          }
        }
      }
    }

    /* Popup Livraison */
    .popup-livraison {
      position: fixed;
      .popup {
        max-width: 350px;
        margin: auto;
        width: 100%;
        height: auto;
      }
      .content {
        display: flex;
        flex-direction: column;
        padding: 1rem;
      }
      .content p {
        @include roboto-light(300, normal, 14px);
      }
      .content h5 {
        @include montserrat(600, normal, 18px);
      }
    }
    .js-close-button,
    .close-button {
      position: absolute;
      top: 8px;
      right: 8px;
    }
    #openForm button {
      @include inter(600, normal, 14px);
      width: 100%;
      max-width: 220px;
      height: 35px;
    }

    #popup-form .purchase {
      flex-direction: column;
      margin-bottom: 0.8rem;
    }

    #popup-form label {

      @include roboto(400, normal, 16px);
    }
    .purchase-fields{
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      margin-bottom: 1rem;
    }
    .purchase-fields:last-child{
      margin-bottom: 0;
    }
    #popup-form{
      gap: 1rem;
    }
    #popup-form input,
    #popup-form textarea {
      @include roboto(400, normal, 14px);
      padding: 0.5rem;
    }

    #popup-form .submit button {
      @include inter(600, normal, 14px);
      width: 100%;
      max-width: 200px;
      height: 45px;
    }
  }
}
